<!-- BEGIN_INCLUDE(box:get-ticket) -->
    <box:get-ticket />
<!-- END_INCLUDE(box:get-ticket) -->
<!-- BEGIN_INCLUDE(box:authorize-ticket) -->
    <box:authorize-ticket ticket="#[flowVars['ticket']]" />
<!-- END_INCLUDE(box:authorize-ticket) -->
<!-- BEGIN_INCLUDE(box:auth-token) -->
	<box:auth-token ticket="flowVars['ticket']" />
<!-- END_INCLUDE(box:auth-token) -->
<!-- BEGIN_INCLUDE(box:get-folder) -->
	<box:get-folder />
<!-- END_INCLUDE(box:get-folder) -->
<!-- BEGIN_INCLUDE(box:upload-path) -->
    <box:upload-path path="hello.txt" filename="hello.txt" />
<!-- END_INCLUDE(box:upload-path) -->
<!-- BEGIN_INCLUDE(box:download) -->
    <box:download fileId="#[flowVars['fileId']]" />
<!-- END_INCLUDE(box:download) -->
<!-- BEGIN_INCLUDE(box:get-file-metadata) -->
    <box:get-file-metadata fileId="#[flowVars['fileId']]" />
<!-- END_INCLUDE(box:get-file-metadata) -->
<!-- BEGIN_INCLUDE(box:upload-stream) -->
    <box:upload-stream filename="hello.txt" />
<!-- END_INCLUDE(box:upload-stream) -->
<!-- BEGIN_INCLUDE(box:upload-new-version-stream) -->
    <box:upload-new-version-stream fileId="#[flowVars['fileId']]" filename="myFile.txt" />
<!-- END_INCLUDE(box:upload-new-version-stream) -->
<!-- BEGIN_INCLUDE(box:delete-file) -->
    <box:delete-file fileId="#[payload.id]" />
<!-- END_INCLUDE(box:delete-file) -->
<!-- BEGIN_INCLUDE(box:update-file) -->
    <box:update-file fileId="#[payload.id]" />
<!-- END_INCLUDE(box:update-file) -->
<!-- BEGIN_INCLUDE(box:create-folder) -->
    <box:create-folder folderName="my new folder" />
<!-- END_INCLUDE(box:create-folder) -->
<!-- BEGIN_INCLUDE(box:update-folder) -->
    <box:update-folder folderId="#[flowVars['folderId']]" />
<!-- END_INCLUDE(box:update-folder) -->
<!-- BEGIN_INCLUDE(box:get-folder-discussions) -->
    <box:get-folder-discussions folderId="#[flowVars['folderId']]" />
<!-- END_INCLUDE(box:get-folder-discussions) -->
<!-- BEGIN_INCLUDE(box:copy-folder) -->
    <box:copy-folder folderId="my new folder" />
<!-- END_INCLUDE(box:copy-folder) -->
<!-- BEGIN_INCLUDE(box:get-folder-items) -->
    <box:get-folder-items folderId="#[flowVars['folderID']]" />
<!-- END_INCLUDE(box:get-folder-items) -->
<!-- BEGIN_INCLUDE(box:get-trashed-items) -->
    <box:get-trashed-items />
<!-- END_INCLUDE(box:get-trashed-items) -->
<!-- BEGIN_INCLUDE(box:delete-folder) -->
    <box:delete-folder folderId="#[flowVars['folderID']]" />
<!-- END_INCLUDE(box:delete-folder) -->
<!-- BEGIN_INCLUDE(box:perm-delete-folder) -->
    <box:perm-delete-folder folderId="#[flowVars['folderID']]" />
<!-- END_INCLUDE(box:perm-delete-folder) -->
<!-- BEGIN_INCLUDE(box:get-trashed-folder) -->
    <box:get-trashed-folder folderId="#[flowVars['folderID']]" />
<!-- END_INCLUDE(box:get-trashed-folder) -->
<!-- BEGIN_INCLUDE(box:restore-trashed-folder) -->
    <box:restore-trashed-folder folderId="#[flowVars['folderID']]" />
<!-- END_INCLUDE(box:restore-trashed-folder) -->
<!-- BEGIN_INCLUDE(box:share-folder) -->
    <box:share-folder folderId="#[flowVars['folderID']]" />
<!-- END_INCLUDE(box:share-folder) -->
<!-- BEGIN_INCLUDE(box:unshare-folder) -->
    <box:unshare-folder folderId="#[flowVars['folderID']]" />
<!-- END_INCLUDE(box:unshare-folder) -->
<!-- BEGIN_INCLUDE(box:register-new-user) -->
    <box:register-new-user email="#[map-payload:email]" password="#[map-payload:password]"/>
<!-- END_INCLUDE(box:register-new-user) -->
<!-- BEGIN_INCLUDE(box:public-share) -->
    <box:public-share target="file" targetId="#[map-payload:fileId]" password="#[map-payload:password]" message="#[map-payload:message]" />
<!-- END_INCLUDE(box:public-share) -->
<!-- BEGIN_INCLUDE(box:get-tree-structure) -->
    <box:get-tree-structure folderId="0" csvParams="nozip" />
<!-- END_INCLUDE(box:get-tree-structure) -->
<!-- BEGIN_INCLUDE(box:download) -->
    <box:download fileId="#[map-payload:fileId]"/>
<!-- END_INCLUDE(box:download) -->
<!-- BEGIN_INCLUDE(box:logout) -->
    <box:logout />
<!-- END_INCLUDE(box:logout) -->
<!-- BEGIN_INCLUDE(box:verify-registration-email) -->
    <box:verify-registration-email loginName="#[map-payload:loginName]"/>
<!-- END_INCLUDE(box:verify-registration-email) -->
<!-- BEGIN_INCLUDE(box:export-tags) -->
    <box:export-tags />
<!-- END_INCLUDE(box:export-tags) -->
<!-- BEGIN_INCLUDE(box:move) -->
    <box:move target="file" targetId="#[map-payload:fileId]" destinationId="#[map-payload:destinationId]" />
<!-- END_INCLUDE(box:move) -->
<!-- BEGIN_INCLUDE(box:move) -->
    <box:move target="file" targetId="#[map-payload:fileId]" destinationId="#[map-payload:destinationId]" />
<!-- END_INCLUDE(box:move) -->
<!-- BEGIN_INCLUDE(box:rename) -->
    <box:move target="file" targetId="#[map-payload:fileId]" newName="#[map-payload:newName]" />
<!-- END_INCLUDE(box:rename) -->
<!-- BEGIN_INCLUDE(box:public-unshare) -->
    <box:public-unshare target="file" targetId="#[map-payload:fileId]" />
<!-- END_INCLUDE(box:public-unshare) -->
<!-- BEGIN_INCLUDE(box:private-share) -->
    <box:private-share target="file" targetId="#[map-payload:fileId]" csvMails="bruce@wayne.com, alfred@wayne.com" message="bat cave blueprints"/>
<!-- END_INCLUDE(box:private-share) -->
<!-- BEGIN_INCLUDE(box:get-file-info) -->
    <box:get-file-info fileId="#[map-payload:fileId]" />
<!-- END_INCLUDE(box:get-file-info) -->
<!-- BEGIN_INCLUDE(box:add-to-tag) -->
    <box:add-to-tag target="file" targetId="#[map-payload:fileId]" csvTags="tag1, tag2" />
<!-- END_INCLUDE(box:add-to-tag) -->
<!-- BEGIN_INCLUDE(box:set-description) -->
    <box:set-description target="file" targetId="#[map-payload:fileId]" description="my file" />
<!-- END_INCLUDE(box:set-description) -->
<!-- BEGIN_INCLUDE(box:get-folder-item) -->
    <box:get-folder-item resourceName="invoices" />
<!-- END_INCLUDE(box:get-folder-item) -->
<!-- BEGIN_INCLUDE(box:copy-file) -->
    <box:copy-file fileId="#[flowVars['fileId']]" />
<!-- END_INCLUDE(box:copy-file) -->
<!-- BEGIN_INCLUDE(box:share-file) -->
    <box:share-file fileId="#[flowVars['fileID']]" />
<!-- END_INCLUDE(box:share-file) -->
<!-- BEGIN_INCLUDE(box:unshare-file) -->
    <box:unshare-file fileId="#[flowVars['fileID']]" />
<!-- END_INCLUDE(box:unshare-file) -->
<!-- BEGIN_INCLUDE(box:get-file-comments) -->
    <box:get-file-comments fileId="#[flowVars['fileID']]" />
<!-- END_INCLUDE(box:get-file-comments) -->
<!-- BEGIN_INCLUDE(box:get-file-thumbnail) -->
    <box:get-file-thumbnail fileId="#[flowVars['fileID']]" minSize="px32x32" maxSize="px64x64"/>
<!-- END_INCLUDE(box:get-file-thumbnail) -->
<!-- BEGIN_INCLUDE(box:get-trashed-file) -->
    <box:get-trashed-file fileId="#[flowVars['fileId']]" />
<!-- END_INCLUDE(box:get-trashed-file) -->
<!-- BEGIN_INCLUDE(box:restore-trashed-file) -->
    <box:restore-trashed-file fileId="#[flowVars['fileID']]" />
<!-- END_INCLUDE(box:restore-trashed-file) -->
<!-- BEGIN_INCLUDE(box:perm-delete-file) -->
    <box:perm-delete-file fileId="#[flowVars['fileID']]" />
<!-- END_INCLUDE(box:perm-delete-file) -->
<!-- BEGIN_INCLUDE(box:comment-file) -->
    <box:comment-file fileId="#[flowVars['fileID']]" message="hello mule!"/>
<!-- END_INCLUDE(box:comment-file) -->
<!-- BEGIN_INCLUDE(box:get-comment) -->
    <box:get-comment commentId="#[flowVars['commentID']]" />
<!-- END_INCLUDE(box:get-comment) -->
<!-- BEGIN_INCLUDE(box:update-comment) -->
    <box:update-comment commentId="#[flowVars['commentID']]" newMessage="Hello Again Mule!" />
<!-- END_INCLUDE(box:update-comment) -->
<!-- BEGIN_INCLUDE(box:delete-comment) -->
    <box:delete-comment commentId="#[flowVars['commentID']]" />
<!-- END_INCLUDE(box:delete-comment) -->
<!-- BEGIN_INCLUDE(box:create-discussion) -->
    <box:create-discussion />
<!-- END_INCLUDE(box:create-discussion) -->
<!-- BEGIN_INCLUDE(box:comment-discussion) -->
    <box:comment-discussion discussionId="#[flowVars['discId']]" message="Hello mule!" />
<!-- END_INCLUDE(box:comment-discussion) -->
<!-- BEGIN_INCLUDE(box:get-discussion) -->
    <box:get-discussion discussionId="#[flowVars['discId']]" />
<!-- END_INCLUDE(box:get-discussion) -->
<!-- BEGIN_INCLUDE(box:get-discussion-comments) -->
    <box:get-discussion-comments discussionId="#[flowVars['discId']]" />
<!-- END_INCLUDE(box:get-discussion-comments) -->
<!-- BEGIN_INCLUDE(box:update-discussion) -->
    <box:update-discussion discussionId="#[flowVars['discId']]" />
<!-- END_INCLUDE(box:update-discussion) -->
<!-- BEGIN_INCLUDE(box:create-collaboration) -->
    <box:create-collaboration />
<!-- END_INCLUDE(box:create-collaboration) -->
<!-- BEGIN_INCLUDE(box:update-collaboration) -->
    <box:update-collaboration collaborationId="#[flowVars['collabId']]" />
<!-- END_INCLUDE(box:update-collaboration) -->
<!-- BEGIN_INCLUDE(box:delete-collaboration) -->
    <box:delete-collaboration collaborationId="#[flowVars['collabId']]" />
<!-- END_INCLUDE(box:delete-collaboration) -->
<!-- BEGIN_INCLUDE(box:get-collaboration) -->
    <box:get-collaboration collaborationId="#[flowVars['collabId']]" />
<!-- END_INCLUDE(box:get-collaboration) -->
<!-- BEGIN_INCLUDE(box:get-pending-collaborations) -->
    <box:get-pending-collaborations />
<!-- END_INCLUDE(box:get-pending-collaborations) -->
<!-- BEGIN_INCLUDE(box:get-user) -->
    <box:get-user />
<!-- END_INCLUDE(box:get-user) -->
<!-- BEGIN_INCLUDE(box:get-users) -->
    <box:get-users />
<!-- END_INCLUDE(box:get-users) -->
<!-- BEGIN_INCLUDE(box:update-user) -->
    <box:update-user userId="#[flowVars['userId']]" />
<!-- END_INCLUDE(box:update-user) -->
<!-- BEGIN_INCLUDE(box:create-user) -->
    <box:create-user />
<!-- END_INCLUDE(box:create-user) -->
<!-- BEGIN_INCLUDE(box:move-folder-to-user) -->
    <box:move-folder-to-user />
<!-- END_INCLUDE(box:move-folder-to-user) -->
<!-- BEGIN_INCLUDE(box:delete-user) -->
    <box:delete-user userId="#[flowVars['userId']]" />
<!-- END_INCLUDE(box:delete-user) -->
<!-- BEGIN_INCLUDE(box:create-email-alias) -->
    <box:create-email-alias userId="#[flowVars['userId']]" email="mariano.gonzalez@mulesoft.com"/>
<!-- END_INCLUDE(box:create-email-alias) -->
<!-- BEGIN_INCLUDE(box:delete-email-alias) -->
    <box:delete-email-alias userId="#[flowVars['userId']]" emailAliasId="#[flowVars['emailAliasId']]" />
<!-- END_INCLUDE(box:delete-email-alias) -->
<!-- BEGIN_INCLUDE(box:change-primary-login) -->
    <box:change-primary-login userId="#[flowVars['userId']]" login="mariano.gonzalez@mulesoft.com"/>
<!-- END_INCLUDE(box:change-primary-login) -->
<!-- BEGIN_INCLUDE(box:get-email-aliases) -->
    <box:get-email-aliases userId="#[flowVars['userId']]" />
<!-- END_INCLUDE(box:get-email-aliases) -->
<!-- BEGIN_INCLUDE(box:get-events) -->
    <box:get-events streamPosition="0" />
<!-- END_INCLUDE(box:get-events) -->
<!-- BEGIN_INCLUDE(box:listen-events) -->
    <box:listen-events />
<!-- END_INCLUDE(box:listen-events) -->
<!-- BEGIN_INCLUDE(box:get-events-long-polling-server) -->
    <box:get-events-long-polling-server />
<!-- END_INCLUDE(box:get-events-long-polling-server) -->
