<!-- BEGIN_INCLUDE(box:get-ticket) -->
    <box:get-ticket />
<!-- END_INCLUDE(box:get-ticket) -->

<!-- BEGIN_INCLUDE(box:auth-token) -->
<box:auth-token ticket="flowVars['ticket']" />
<!-- END_INCLUDE(box:auth-token) -->


<!-- BEGIN_INCLUDE(box:register-new-user) -->
    <box:register-new-user email="#[map-payload:email]" password="#[map-payload:password]"/>
<!-- END_INCLUDE(box:register-new-user) -->
<!-- BEGIN_INCLUDE(box:create-folder) -->
    <box:create-folder parentFolderId="#[map-payload:parentFolderId]" folderName="#[map-payload:folderName]" share="true" />
<!-- END_INCLUDE(box:create-folder) -->
<!-- BEGIN_INCLUDE(box:upload-files) -->
    <box:upload-files />
<!-- END_INCLUDE(box:upload-files) -->
<!-- BEGIN_INCLUDE(box:upload-stream) -->
    <box:upload-stream filename="#[map-payload:fileName]" />
<!-- END_INCLUDE(box:upload-stream) -->
<!-- BEGIN_INCLUDE(box:public-share) -->
    <box:public-share target="file" targetId="#[map-payload:fileId]" password="#[map-payload:password]" message="#[map-payload:message]" />
<!-- END_INCLUDE(box:public-share) -->
<!-- BEGIN_INCLUDE(box:get-tree-structure) -->
    <box:get-tree-structure folderId="0" csvParams="nozip" />
<!-- END_INCLUDE(box:get-tree-structure) -->
<!-- BEGIN_INCLUDE(box:download) -->
    <box:download fileId="#[map-payload:fileId]"/>
<!-- END_INCLUDE(box:download) -->
<!-- BEGIN_INCLUDE(box:delete) -->
    <box:delete targetId="#[map-payload:folderId]" target="folder"/>
<!-- END_INCLUDE(box:delete) -->
<!-- BEGIN_INCLUDE(box:logout) -->
    <box:logout />
<!-- END_INCLUDE(box:logout) -->
<!-- BEGIN_INCLUDE(box:verify-registration-email) -->
    <box:verify-registration-email loginName="#[map-payload:loginName]"/>
<!-- END_INCLUDE(box:verify-registration-email) -->
<!-- BEGIN_INCLUDE(box:export-tags) -->
    <box:export-tags />
<!-- END_INCLUDE(box:export-tags) -->
<!-- BEGIN_INCLUDE(box:move) -->
    <box:move target="file" targetId="#[map-payload:fileId]" destinationId="#[map-payload:destinationId]" />
<!-- END_INCLUDE(box:move) -->
<!-- BEGIN_INCLUDE(box:move) -->
    <box:move target="file" targetId="#[map-payload:fileId]" destinationId="#[map-payload:destinationId]" />
<!-- END_INCLUDE(box:move) -->
<!-- BEGIN_INCLUDE(box:rename) -->
    <box:move target="file" targetId="#[map-payload:fileId]" newName="#[map-payload:newName]" />
<!-- END_INCLUDE(box:rename) -->
<!-- BEGIN_INCLUDE(box:public-unshare) -->
    <box:public-unshare target="file" targetId="#[map-payload:fileId]" />
<!-- END_INCLUDE(box:public-unshare) -->
<!-- BEGIN_INCLUDE(box:private-share) -->
    <box:private-share target="file" targetId="#[map-payload:fileId]" csvMails="bruce@wayne.com, alfred@wayne.com" message="bat cave blueprints"/>
<!-- END_INCLUDE(box:private-share) -->
<!-- BEGIN_INCLUDE(box:get-file-info) -->
    <box:get-file-info fileId="#[map-payload:fileId]" />
<!-- END_INCLUDE(box:get-file-info) -->
<!-- BEGIN_INCLUDE(box:add-to-tag) -->
    <box:add-to-tag target="file" targetId="#[map-payload:fileId]" csvTags="tag1, tag2" />
<!-- END_INCLUDE(box:add-to-tag) -->
<!-- BEGIN_INCLUDE(box:set-description) -->
    <box:set-description target="file" targetId="#[map-payload:fileId]" description="my file" />
<!-- END_INCLUDE(box:set-description) -->
